/* MAP */

#map {
  height: 70%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.markerTitle {
  text-align: center;
}

.displayImages {
  margin-top: 1em;
}
