/* MAP */

#map {
  height: 60%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.center {
  margin: auto;
  width: 80%;
}

.header {
  width: 100%;
}

.title-box {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-top: 0.2em;
  margin-left: 25%;
  border-radius: 0.3em;
  padding: 0.2em;
  position: absolute;
  z-index: 1000;
}

.h5-without-margins {
  margin: 0.2em;
}

.title-span {
  font-size: medium;
}

.markerTitle {
  text-align: center;
}

.displayImages {
  margin-top: 1em;
}

.noPlaceSelected {
  margin-top: 5em;
  text-transform: uppercase;
  color: #C0C0C0;
}

.card .card-delete:hover {
  cursor: pointer;
}
.card .card-delete {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  padding: 24px;

}
