/* MAP */

#map {
  height: 100%;
  width: 60%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.rightPanel {
  width: 40%;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}

.center {
  margin: auto;
  width: 80%;
}

.header {
  width: 97%;
  padding: 0.5em;
  border-bottom: 1px solid #1ea6c8;
  margin: 0.5em;
  display: inline-flex;
  position: relative;
}

.title-box {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-top: 0.2em;
  margin-left: 25%;
  border-radius: 0.3em;
  padding: 0.2em;
  position: absolute;
  z-index: 1000;
}

.title-with-margins {
  margin: 0.1em;
  margin-left: 0.5em;
}

.title-span {
  font-size: medium;
}

.markerTitle {
  text-align: center;
}

.displayImages {
  margin-top: 1em;
  margin-bottom: 3em !important;
  overflow-y: scroll;
}

.noPlaceSelected {
  margin-top: 5em;
  text-transform: uppercase;
  color: #C0C0C0;
}

.card .card-title {
  padding: 15px !important;
}
.card .card-delete:hover {
  cursor: pointer;
}
.card .card-delete {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  padding: 15px;

}

.link-to-website{
  color: #1ea6c8;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0.5em;
  font-style: italic;
}

.logo-img {
  width: 3.5em;
  margin-top: 5px;
  padding: 0.1em;
}

.username{
  position: absolute;
  top: 0.1em;
  right: 0px;
  height: 1.8em;
  color: #1ea6c8;
}

.username::before {
  content: '@';
}

.logout:hover {
  cursor: pointer;
}
